* {
    margin: 0;
    font-size: 15px;
}

.main-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url(IMAGES/9999520.jpg);
    display: flex;
    flex-direction: column;
}

.top-half,
.bottom-half {
    flex: 1;
    display: flex;
    align-items: center;
}

.top-card-loc,
.bottom-card-loc {
    width: 40rem;
    height: 30rem;
    background-color: red;
    margin: 0 auto;
}

.bottom-card-loc {
    display: flex;
    flex-direction: column;
}

.bottom-header {
    width: 100%;
    height: 25rem;
    display: flex;
    flex-wrap: wrap;
}

.bottom-footer {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-footer>button {
    width: 8rem;
    height: 2rem;
}

.testBtn {}