.site-wrapper {
    display: flex;
    overflow: hidden;
}

.signup-wrapper {
    display: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-wrapper,
.game-wrapper {
    overflow: hidden;
    transition: flex 1s ease;
}

.signup-wrapper {
    flex: 1;
}

.game-wrapper {
    flex: 0;
}

/* ------------------------ */

.signup-box {
    width: 20rem;
    height: 10rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(10rem);
    position: relative;
}

#signin-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

#signup-form {
    flex: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 1rem;
    position: relative;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

#signup-form,
#signin-form {
    overflow: hidden;
    transition: flex 1s ease;
}

#usernameSignin,
#passwordSignin,
#usernameSignup,
#passwordSignup {
    width: 60%;
    border-radius: 1rem;
    box-sizing: border-box;
    padding-left: 5px;
    outline: none;
    box-shadow: 0.4rem 0.4rem;
    transition: box-shadow 0.5s ease-in-out;
}

#signin,
#signup {
    width: 4rem;
    height: 1rem;
    border: none;
    border-radius: 1rem;
    font-size: 0.7rem;
    box-shadow: 0.4rem 0.4rem;
    transition: box-shadow 0.5s ease-in-out;
    cursor: pointer;
}

#usernameSignin:hover,
#passwordSignin:hover,
#signin:hover {
    box-shadow: 0.3rem 0.3rem;
}

#create-account {
    width: 20rem;
    text-align: start;
    box-sizing: border-box;
    padding-left: 1.5rem;
    cursor: pointer;
    font-size: 0.85rem;
    color: blue;
    background-color: transparent;
    border: none;
}

#back-to-signin {
    position: absolute;
    top: 23%;
    left: 6%;
    width: 2rem;
    height: 2rem;
    border: none;
    background-color: transparent;
    background-image: url(../images/backToSignin.svg);
    cursor: pointer;
}