#stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 9.5rem;
    width: 4rem;
    height: 4rem;
}

#stats>span {
    width: 4rem;
    height: 1rem;
    font-size: 0.8rem;
    text-align: center;
}

#open-stats-button {
    width: 2rem;
    height: 2rem;
    background-image: url(../images/stats.svg);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#close-stats-button {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.5rem;
    background-image: url();
    background-color: transparent;
    cursor: pointer;
}

#stats-menu {
    top: 30%;
    left: 110%;
    min-width: 20rem;
    min-height: 10rem;
    transform: translateY(5%);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out, left 0.5s ease-in-out;
    background-color: #0C588A;
    font-weight: bold;
}

.stats-wrapper {
    min-width: 20rem;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.stat {
    width: 50%;
    height: 1.5rem;
    background-color: blue;
    border-radius: 2rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}