* {
  margin: 0;
  font-size: 15px;
}

.main-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.main-wrapper>img {
  height: 100%;
  width: 100%;

}

.table-border {
  width: 50%;
  min-width: 45rem;
  max-width: 45rem;
  border-radius: 5rem;
}

.table-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.top-half,
.bottom-half {
  flex: 1;
  display: flex;
}

.top-half {
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.bottom-half {
  flex-direction: column;
  align-items: center;
}

.middle-section {
  width: 100%;
  height: 12rem;
  display: flex;
  justify-content: center;
}

.play-zone {
  display: flex;
  width: 50rem;
  height: 12rem;
  background-color: green;
}

.top-card-loc,
.bottom-card-loc {
  width: 40rem;
  height: 25rem;
  margin: 0 auto;
  border-radius: 3rem;
}

.bottom-card-loc {
  height: 20rem;
}

.bottom-card-loc {
  display: flex;
  flex-direction: column;
}

.player-cards,
.comp-cards {
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: center;
}

.comp-cards {
  align-items: flex-end;
}

.player-cards-container,
.comp-container {
  width: 40rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.player-cards-score,
.comp-cards-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: aqua;
  height: 20rem;
}

.split-container-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.container1-wrapper,
.container2-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.split-cards-score1,
.split-cards-score2 {
  flex: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-score-wrapper1,
.inner-score-wrapper2 {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  border: 5px solid;
  border-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.7s ease-in-out;
}

.inner-score-wrapper1.active,
.inner-score-wrapper2.active {
  border: 5px solid green;
}

.inner-score-wrapper1.inactive,
.inner-score-wrapper2.inactive {
  border: 5px solid red;
}

.split-cards-score1>span,
.split-cards-score2>span {
  width: 2rem;
  height: 2rem;
  color: rgb(255, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.split-cards-container1,
.split-cards-container2 {
  flex: 1;
  height: 100%;
  display: flex;
  position: relative;
  border: 1px solid red;
}

.split-cards-container1 .card-holder,
.split-cards-container2 .card-holder {
  position: absolute;
  top: 0;
  left: 0;
}

.pScore-count,
.cScore-count {
  width: 2rem;
  height: 2rem;
  border-radius: 5rem;
  border: 1px black solid;
  box-shadow: 2px 2px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gamestage-message,
.comp-gamestage-message {
  height: 2rem;
  width: 5rem;
  background-color: blueviolet;
  color: black;
  font-weight: bold;
  border-radius: 5rem;
  border: 1px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comp-credits,
.player-credits {
  width: 7rem;
  height: 20rem;
  background-color: aqua;
}

.player-credits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.total-credits,
.current-bet,
.bet-size,
.round-timer {
  width: 100%;
  height: 2.5rem;
  background-color: yellow;
  border-radius: 5rem;
  border: 1px black solid;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.round-timer {
  display: none;
  justify-content: center;
  align-items: center;
}

.total-credits>div,
.current-bet>div {
  width: 5rem;
  height: 2rem;
  font-size: 12px;
  text-align: center;
}

.comp-container {
  height: 20rem;
}

.player-buttons {
  width: 100%;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bet-buttons {
  display: flex;
  align-items: center;
}

.pbtns,
#place-bet {
  width: 4rem;
  height: 2rem;
  border-radius: 5rem;
  font-size: 10px;
  box-shadow: 3px 3px black;
}

.pbtns.unclick,
.bet-btns.unclick {
  background-color: gray;
  opacity: 0.8;
  border: none;
}

.started {
  background-color: gray;
  opacity: 0.8;
  border: none;
}

.bet-size {
  display: flex;
  justify-content: space-between;
}

.minus-bet,
.plus-bet {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 5rem;
}

.minus-bet {
  background-color: transparent;
  border: none;
  background-image: url("../images/down-arrow.svg");
}

.plus-bet {
  background-color: transparent;
  border: none;
  background-image: url("../images/up-arrow.svg");
}

.bet-num {
  width: 4rem;
  height: 2.5rem;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bet-amount {
  width: 10rem;
  height: 100%;
}